@import "../../data/styles.css";

.about-container {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}

.about-main {
  display: flex;
}

.about-title,
.about-subtitle {
  width: 80%;
  text-align: justify;
  text-justify: inter-word;
}
