app                = "hax"
region             = "us-east-1"
domain             = "haxsec.com"
alert_emails       = ["alert@haxsec.com"]
images_path        = "./files/images"
website_files_path = "./files/website"
tags               = {}
